@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #0a1754;
  --color-secondary: #00489a;
  --color-textColor: #00489a;
}

@layer base {
  h1 {
    @apply font-bold   text-4xl sm:text-5xl lg:text-6xl;
  }
}
@layer utilities {
  .bodyMargin {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .bg-linear-gradient {
    @apply bg-gradient-to-r from-primary to-secondary;
  }

  .shadow {
    @apply shadow-[0px_5px_5px_3px_rgba(0,0,0,0.1)];
  }
  .heading {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold;
  }
  .subHeading {
    @apply text-2xl md:text-3xl lg:text-4xl font-black;
  }

  .authStyles{
	@apply flex flex-col justify-center 
  }
}


/* Hide arrows in number input for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
