@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ramaraja&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Urbanist, sans-serif;
}

@theme {
  --color-primary: #0a1754;
  --color-secondary: #00489a;
  --color-textColor: #00489a;
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;
  --color-red500: #fb2c36;
  --color-purpleLight: #58337F;
  --color-gold: #F17500;
  --color-grayBg: #D9D9D9;
  --color-purpleBg: #2C0358
}

@layer base {
  h1 {
    @apply font-bold   text-4xl sm:text-5xl lg:text-6xl;
  }
}
@layer utilities {
  .bodyMargin {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .bg-linear-gradient {
    @apply bg-gradient-to-r from-primary to-secondary;
  }
  .shadow-card {
    @apply shadow-[0px_4px_20px_rgba(0,0,0,0.05)];
  }

  .shadow {
    @apply shadow-[0px_5px_5px_3px_rgba(0,0,0,0.1)];
  }
  .heading {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold;
  }
  .subHeading {
    @apply text-2xl md:text-3xl lg:text-4xl font-black;
  }
  .smallHeading {
    @apply text-sm  md:text-lg lg:text-xl 2xl:text-2xl font-black;
  }
  .authStyles {
    @apply flex flex-col justify-center;
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-flexCol {
    @apply flex flex-col justify-center items-center;
  }

  .font-inter {
    font-family: var(--font-inter);
  }
  .font-raleway {
    font-family: var(--font-raleway);
  }
  .font-vesper {
    font-family: var(--font-vesper);
  }
  .font-ramaraja {
    font-family: var(--font-ramaraja);
  }
  .font-urbanist {
    font-family: var(--font-urbanist);
  }
   .font-montserrat {
    font-family: var(--font-montserrat);
  }

}

/* Hide arrows in number input for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox browsers */
input[type="number"] {
  -moz-appearance: textfield;
}
